.text-red {
  color: red;
  font-weight: bold;
}

.text-orange {
  color: orange;
  font-weight: bold;
}

.text-yellow {
  color: yellow;
  font-weight: bold;
}

.text-green {
  color: green;
  font-weight: bold;
}
