/* Predict.css */
.predict-title {
  background-color: white; /* 배경색 초록색 */
  padding: 20px;
  border-radius: 10px; /* 둥근 모서리 */
  text-align: center; /* 가운데 정렬 */
}

.prediction-text {
  font-size: 34px; /* 원하는 크기로 조정하세요 */
  color: #fff; /* 흰색 글씨 */
  background-color: rgb(80, 132, 98); /* 배경색 초록색 */
  font-weight: bold;
  margin: 0;
  padding: 5px 10px; /* 글씨 주변에 여백 추가 */
  display: inline-block; /* 인라인 요소를 블록 요소로 변경하여 왼쪽 정렬 */
  border-radius: 5px; /* 둥근 테두리 설정 */
}

.prediction-box {
  background-color: #fff; /* 사각형 배경색 흰색 */
  border-radius: 20px; /* 둥근 모서리 */
  margin-top: 20px;
  padding: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* 그림자 */
}

.predict-wrapper {
  display: flex;
  align-items: center;
  padding: 30px;
  border: 2px solid #ccc; /* 부드러운 테두리 색상 */
  border-radius: 15px; /* 둥근 모서리 */
  background-color: #fff; /* 밝은 배경 색상 */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1); /* 그림자 효과 */
  margin: 40px auto; /* 가운데 정렬 */
  max-width: 1080px; /* 최대 넓이 */
}

.predict-img {
  width: 300px; /* 이미지 너비 조정 */
  height: auto; /* 높이를 자동으로 조정 */
  margin-right: 40px; /* 이미지와 텍스트 사이의 여백 */
}

.predict-text {
  font-size: 18px; /* 글씨 크기 */
  color: #2c3e50; /* 글씨 색상 */
  text-align: center; /* 텍스트 가운데 정렬 */
  flex: 1; /* 남은 공간을 채우기 위해 flex 사용 */
}

.bold-green {
  font-weight: bold;
  color: green;
}

.bold-red {
  font-weight: bold;
  color: red;
}

.predict-info-wrapper {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.predict-info-item {
  width: 45%;
  text-align: center;
}

.predict-info-title {
  display: inline-block; /* Make the container fit the content */
  font-size: 20px; /* Reduced font size */
  padding: 5px 10px; /* Adjust padding for a better fit */
  border-radius: 10px; /* Rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Shadow effect */
  background-color: white; /* Light background color */
  margin-bottom: 10px;
  font-weight: bold; /* Make text bold */
  color: black; /* Make text black */
}

.predict-info-img {
  width: 100%; /* Ensure the image takes full width of its container */
  max-width: 700px; /* Set a max-width to limit the image size */
  height: auto;
  margin-top: 10px;
}
