/* Search.css */

.search-container {
  margin-top: 20px;
}

.search-input {
  border: 2px solid #4caf50;
  border-radius: 20px;
  padding: 10px;
  font-size: 16px;
  outline: none;
  width: 300px;
}

.search-input:focus {
  border-color: #3e8e41;
}
