/* Trend.css */

.small-text {
  font-size: 12px; /* 작은 텍스트에 적용할 폰트 크기 */
  color: black; /* 작은 텍스트의 글자색 */
}

.middle-text {
  font-size: 16px; /* 중간 텍스트에 적용할 폰트 크기 */
  color: #555; /* 중간 텍스트의 글자색 */
}

/* Trend.css */
.ranking-item {
  display: flex;
  align-items: center;
  justify-content: center; /* 수평 가운데 정렬을 위한 추가 속성 */
  padding: 10px;
  background-color: white; /* 배경색 변경 */
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* 그림자 효과 */
  margin-bottom: 10px; /* 아래 여백 추가 */
  border: 2px solid green;
}

.rank {
  font-size: 17px;
  color: black;
  margin-right: 10px;
  text-align: center;
}

.item {
  font-size: 16px;
  font-weight: bold;
  color: #333; /* 더 진한 검정색으로 변경 */
  text-align: center;
}
