/* Wordcloud.css */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.rounded-box {
  background-color: #ffffff;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  width: 80%;
  max-width: 800px;
}

.prediction-text {
  text-align: center;
}

.bar-chart {
  margin-top: 20px;
}

.statistics-table {
  margin-top: 20px;
  width: 100%;
  border-collapse: collapse;
}

.statistics-table th,
.statistics-table td {
  border: 1px solid #dddddd;
  padding: 8px;
  text-align: center;
}

.statistics-table th {
  background-color: #f2f2f2;
}
